/* Default styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: burlywood;
  position: sticky;
  top: 0px;
  text-decoration: none;
  z-index: 1;
  padding: 0;
}

.logo {
  width: 100px;
  height: 72px;
  margin-top: 0;
  margin-bottom: -3px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 24px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.onlineStatus {
  font-size: 21px;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.nav-items a:hover,
.nav-items a:active,
.nav-items a.active {
  color: rgb(76, 9, 245);
  text-decoration: underline;
}

.login {
  padding: 0 14px;
  cursor: pointer;
  font-size: 24px;
  background-color: transparent;
  height: 73px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: flex-start; /* Align items to the start on small screens */
  }

  .nav-items > ul {
    font-size: 18px; /* Reduce font size on small screens */
  }
}
